body {
	margin: 0;
	padding: 0;
}

ul {
	position: sticky;
	z-index: 99;
	top: 0px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	padding-left: 20px;
	overflow: hidden;
	background-color: #DF0000;
}

li {
	float: right;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	font-weight: bold;
	font-size: 18px;
	text-decoration: none;
}

li a:hover {
	background-color: #9F0000;
}

#resetButton {
	border-right: 1px solid white;
	border-left: 1px solid white;
}

#main {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 5px 16px;
	text-decoration: none;
	font-size: 30px;
	font-weight: bold;
}

.main-body {
	display: flex;
}

.graph-body {
	margin-top: 30px;
	margin-left: 60px;
}

.label-body {
	display: flex;
	flex-direction: column;
	margin-left: 30px;
	margin-right: 15px;
	width: 5%;
	justify-content: center;
}

.input-body {
	display: flex;
	flex-direction: column;
	width: 15%;
	justify-content: center;
}

input {
  border: 1px solid black;
  width: 50px;
  text-align: center;
  padding: 5px 2px 5px 2px;
  margin: 12.5px 0px 12.5px 0px;
}

input:hover {
  /*background-color: lightblue;*/
}

input:focus {
	background-color: white;
}

#revenue {
	width: 210px;
	text-align: left;
	padding-left: 10px;
}

#color {
	position: absolute;
	margin-top: 105px;
}

label {
	font-size: 20px;
	margin: 15px 0px 15px 0px;
	text-align: right;
}

canvas {
  display: block;
  border: 2px solid black;
}

#bigolediv {
	/*height: 850px;*/
	height: 100px;
	margin-top: 30px;
	margin-left: 60px;
}

/*
#color {
	border: none;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	width: 30px;
	height: 30px;
}
*/
